.space {
    padding: 80px 35px;
    background: #EEE;
}

.space-container {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 10px auto;
    max-width: 1500px;
}

.space-image img{
    width: 100%;
}

.space-text {
    display: grid;
    place-items: center;
    margin-left: 5px;
    background: #EEE;
}

.space-text div {
    max-width: 800px;
}

.container-h3 {    
    width: 70%;
    margin: auto;
    color: #315F56;
    padding-bottom: 20px;
    font-size: 40px;
}

.container-pgh {
    width: 70%;
    margin: auto;
    color: #616260;
    font-size: 30px;
}

@media (max-width: 980px) {
    .space-text {
        font-size: .8rem;
    }
}

@media (max-width: 800px) {
    .space-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .space-text {
        margin-top: 15px;
        padding: 15px 10px;
    }

    .space-image {
        display: grid;
        place-items: center;
    }

    .space-image img {
        width: 100%;
    }

}