.sustentability-container {
    margin-top: 50px;
    padding: 0 80px;
}

.section-cert {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

.section-info-p {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    margin: 80px auto;
}

.section-info-p_left {
    max-width: 650px;
    font-size: 30px;
    font-weight: 400;
}

.section-info-p_right {
    max-width: 650px;
    font-size: 30px;
    font-weight: 400;
}