.space_right {
    padding: 80px 35px;
    background: #fff;
}

.space-container_right {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 10px auto;
    max-width: 1500px;
}

.space-image_right img{
    width: 100%;
}

.space-text_right {
    display: grid;
    place-items: center;
    margin-left: 5px;
    background: #fff;
}

.space-text_right div {
    max-width: 800px;
}

.container-h3_right {    
    width: 70%;
    margin: auto;
    color: var(--color-verdeoscuro);
    padding-bottom: 20px;
    font-size: 40px;
}

.container-hr_rigt {
    width: 100px;
    border: 4px solid var(--color-verdeoscuro);
    display: table-caption;
}

.container-pgh_right {
    width: 70%;
    margin: auto;
    color: var(--color-gris);
    font-size: 20px;
}


@media (max-width: 980px) {
    .space-textR {
        font-size: .8rem;
    }
}

@media (max-width: 800px) {
    .space-containerR {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .space-textR {
        margin-top: 15px;
        padding: 15px 10px;
    }

    .space-imageR {
        display: grid;
        place-items: center;
    }

    .space-imageR img {
        width: 100%;
    }

}