.timeline-container {
    padding: 0 25px;
    margin-bottom: 50px;
}

.datefont-personal {
    color: #000 !important;
    font-size: 25px !important;
    font-weight: bold !important;
}

.vertical-timeline-element-content {
    box-shadow: none !important;
    padding: 0 !important;
}

.image-left {
    flex-direction: row-reverse;
}

.vertical-timeline-element-p {
    width: 200px;
}

.container-info {
    display: grid;
    place-items: center;
}

.vertical-timeline-element-title {
    width: auto !important;
}

.image-square {
    height: 250px;
}

.image-square img {
    height: 250px;
}

.container-info-time {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}