
.text-box {
    height: 650px;
    margin: 55px auto 0 auto;
    display: grid;
    place-content: center;
    padding: 0 180px;
}

.text-box_p {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    max-width: 915px;
}

.text-box_hr {
    height: 8px;
    width: 350px;
    background: var(--color-verdeclaro);
    border: none;
}
